<!doctype html>
<html>
<head>
	<title>The Pizza Shoppe</title>
</head>
<body>
	<div id="banner"></div>
	<nav></nav>
	<section id="our_story"></section>
	<section id="menu"></section>
	<section id="order"></section>
	<section id="locations"></section>
	<section id="reviews"></section>
	<footer>The Pizza Shoppe &copy; All Rights Reserved 2014</footer>
</body>
</html>