<!DOCTYPE html>
<html>
<head>
	<title>Le Pizza Shoppe</title>
		<!-- Stylesheets -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>
	<div id="banner">Le Pizza Shoppe
		<nav> 
			<ul>
				<li><a href="#our_story">Our Story</a></li>
				<li><a href="#menu">Menu</a></li>
				<li><a href="#order">Order</a></li>
				<li><a href="#locations">Locations</a></li>
				<li><a href="#reviews">Reviews</a></li>
			</ul>
		</nav>
	</div> 
	<section id="our_story">Our Story
		<h1 class="story"> This is our story ... </h1>
		<p class="history"> It all started from a recipe my grand-papa gave me back in Sicily 50 years go... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <p>
		
		
	</section>
	<section id="menu">Menu</section>
	<section id="order">Order Online</section>
	<section id="locations">Locations</section>
	<section id="reviews">Reviews 
		<form method="POST">
			<label for="email">Email</label>
			<input type="text" name="email"></input>
			<label for="name">Name</label>
			<input type="text" name="name"></input>
			<label for="comment">Rave & Rants</label>
			<textarea type="textarea" name="comment"></textarea> 
			<input type="submit"> 
		</form>
	</section>
	<footer>The Pizza Shoppe &copy; All Rights Reserved 2014</footer>
</body>
</html>