<!doctype html>
<html>
<head>
	<title>Le Pizza Shoppe</title>
		<!-- Stylesheets -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>
	<div id="banner">Le Pizza Shoppe</div>
	<nav> 
		<ul>
			<li><a href="#our_story">Our Story</a></li>
			<li><a href="#menu">Menu</a></li>
			<li><a href="#order">Order</a></li>
			<li><a href="#locations">Locations</a></li>
			<li><a href="#reviews">Reviews</a></li>
		</ul>
	</nav>

	<section id="our_story"></section>
	<section id="menu"></section>
	<section id="order">
		




	</section>
	<section id="locations"></section>
	<section id="reviews"></section>
	<footer>The Pizza Shoppe &copy; All Rights Reserved 2014</footer>
</body>
</html>