<!DOCTYPE html>
<html>
<head>
	<title>Le Pizza Shoppe</title>
		<!-- Stylesheets -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/styles.css"/>
        <link href="http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
</head>

<body> 
	<div id="tomato1"><img src="images/tomato1.png"/></div>
	<div id="tomato2"><img src="images/tomato2.png"/></div>
	<div id="roller"><img src="images/dough_roller.png"/></div>
	<div id="garlic"><img src="images/garlic.png"/></div>

	<div id="wrapper">
		<div id="banner_bg"></div>
		<div id="banner"> 
		<h1>LE PIZZA SHOPPE</h1>
			<nav> 
				<ul>
					<li><a href="#our_story">Our Story</a></li>
					<li><a href="#menu">Menu</a></li>
					<li><a href="#locations">Locations</a></li>
					<li><a href="#reviews">Reviews</a></li>
				</ul>
			</nav>
		</div>  

		<section id="our_story">
			<h1 class="story"> OUR STORY ... </h1>
			<div class="picContainer">
				<img src="/images/smallitaly.jpg" alt="The Italian Countryside">
			</div>	
			<p class="history"> It all started from a recipe my grand-papa gave me back in Sicily 50 years ago, the right amount of sauce and cheese, everybite leaves you wanting for more ... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
		</section>
  
		<section id="menu"> 
			<h1>MENU</h1>  
			<ul>
				<div class="image">
					<img src="images/cheese.png" />
				</div>	
				<div class="description"> 
					<li>Cheese Pizza</li>
					<li>A delicious Cheese Pizza made for you with the finest ingredients! Fresh mozzarella, sun ripen tomatoes, a warm, soft crust, treat yourself to this pizza made in 30 minutes or less!</li>
				</div> 
				<div class="image">
					<img src="images/pepperoni.png" />
				</div>
				<div class="description"> 
					<li>Pepperoni Pizza</li>
					<li>A delicious Pepperoni Pizza made for you with the finest ingredients! Fresh mozzarella, sun ripen tomatoes, a warm, soft crust, and delicious slices of pepperoni, treat yourself to this pizza made in 30 minutes or less!</li>
				</div>
						
				<div class="image">
					<img src="images/pizza-cake.png"/>
				</div>
				<div class="description"> 
					<li>Specialty Pizza</li>
					<li>A delicious Pizza Cake made for you with the finest ingredients! Fresh mozzarella, sun ripen tomatoes, a warm, soft crust, and all the topings you want, treat yourself to this pizza made in 30 minutes or less!</li>
				</div> 	
			</ul> 
		</section>    
		

		<section id="locations">
			<h1>LOCATIONS</h1>
				<ul>
					<div class="location">
					<li><p class="text">Italy</p></li>
					<img src="images/italy.jpg">
					</div>

					<div class="location">
					<li><p class="text">Sweden</p></li>
					<img src="images/sweden.jpg">
					</div>

					<div class="location">
					<li><p class="text">New York City</p></li>
					<img src="images/nyc.jpg">
					</div>

					<div class="location">
					<li><p class="text">Chicago</p></li>
					<img src="images/chicago.jpg">
					</div>

					<div class="location">
					<li><p class="text">U.K.</p></li>
					<img src="images/uk.jpg"></div>
				</ul>
		</section>
 
		<section id="reviews"><h1>REVIEWS</h1>
			<form method="POST">
				<div>
					<label for="email">Email</label>
					<br>
					<input type="text" name="email"></input>
				</div>	
				<div>
					<label for="name">Name</label>
					<br>
					<input type="text" name="name"></input>
				</div>	
				<div>
					<label for="comment">Rave & Rants</label>
					<br>
					<textarea type="textarea" name="comment"></textarea> 
					<br>
					<input type="submit"> 
				</div>	
			</form>
		</section>

		<footer>
			<p>Le Pizza Shoppe &copy; All Rights Reserved 2014</p>
		</footer>
	</div>
</body>
</html>