* {
	border: 1px solid orange;
}

body {
	width: 900px;
	margin: 0 auto;
	position: relative;
}
#banner {
	position: fixed;
}
nav {  
	position: fixed;
	display: inline-block;
}

section {
	width: 100%;
}

footer {
	position: absolute;
	bottom: 0px;
	float: right; 
}


/*--------- Our Story -----------*/

#our_story {
	height: 500px;
}